body {
    padding: 10px;
}

#new-post-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 300px;
    border: 1px solid #9e9e9e;
    border-radius: 10px;
    padding: 25px;
}

#new-post-textbox {
    height: 150px;
    width: 100%;
    border: 1px solid #9e9e9e;
    border-radius: 10px;
    resize: none;
    padding: 15px;
}

label {
    font-weight: 600;
    font-size: 18px;
}

.post-entry {
    border: 1px solid #9e9e9e;
    border-radius: 10px;
    padding: 25px;
    margin: 10px;
    font-weight: 600;
}

.post-entry-poster {
    font-size: 17px;
    margin-bottom: 10px;
    cursor: pointer;
}

.post-entry-timestamp, .post-entry-likes, .post-entry-comment {
    color: #797979;
}

.follow-count {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 700;
    font-size: 2em;
    height: 8em;
}

.post-entry-edit-text {
    cursor: pointer;
    color:dodgerblue;
}

.post-entry-edit-text .save-new-post {
    display: none;
}

.post-entry-text textarea {
    resize: none;
    width: 450px;
    height: 130px;
}

.like-post {
    margin-left: 10px;
    padding: 10px;
    cursor: pointer;
}

.like-post.liked {
    color: dodgerblue;
}